.label {
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
}

.input {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}

.check {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid var(--gray-border);
  border-radius: 4px;
}

.input:focus + .label .check {
  box-shadow: 0 0 0 1px var(--black);
}

.input:checked + .label .check {
  border-color: var(--black);
}

.input:checked + .label .check::before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: contents;
  width: 10px;
  height: 10px;
  content: '\2713';
  transform: translate(-50%, -50%);
}
