.nav {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.link {
  display: flex;
}

.cart {
  font-size: 20px;
}

.burger {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
