.root {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: stretch;
  height: 100%;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
